In [1]:
import pandas as pd

In [28]:
events = pd.read_excel("events.xlsx")
key_segmetns = pd.read_excel("key segments.xlsx")
segment_data = pd.read_csv("segment_data.csv", sep=";")
monday_speeds = pd.read_csv("monday-speeds.csv", sep=";")
segments_ids_nord_direction = pd.read_csv("north_direction_road_segments.txt", header=None, names=['SegmentId'])

### Event Document

In [29]:
events.head(1)

,Skapad_År,Skapad_Månad,NAME,EVENT_CODE,EVENT_TEXT,Location_text,Väg,Riktning,LANE_MASK,CREATION_TIME,COMPLETION_TIME,START_TIME,END_TIME,Note,X,Y
0,2019,Januari,2019-01-01/03:34:40-1/4,35,Olycka,E4 från Trafikplats Sörljusne (204) till Trafi...,E4,Syd,OOOOOOOOX|OOOOOOOOO,2019-01-01 03:34:40,2019-01-01 06:01:30,2019-01-01 03:34:40,2019-01-01 06:15:00,I höjd med Böles-Noran i södergående. En perso...,6774947,606946

### SegmentID direction and coordinates

In [30]:
key_segments.head(1)

,RouteID,SegmentID,ValidFrom,ValidTo,Längd,Färdriktn,Latitud,Longitud,Ordning,Väg,Antal kf,Hastighet,Korsning
0,1520100057,1071754891,2019-04-16,9999-12-31 00:00:00,930,Syd,"61,165335","16,851284",1,83,1kf,90,NaN

### SegmentId meta data

In [31]:
segment_data.head(1)

    SegmentId  Length Road Antal kf  Max_speed
0  1071754891     930   83      1kf         90

### SegmentID and speeds

In [32]:
monday_speeds.head(1)

    SegmentId            StartTime              EndTime  Speed
0  1071707139  2019-06-03 00:00:00  2019-06-03 00:30:00    NaN

# The Goal

- Create a deep learning model to predict traffic speed after a traffic event until it returns to normal speed

# What variables needed to do predictions?
- SegmentID
- Speed in time
- Events
    - Code/Text
    - CREATION_TIME 	
    - COMPLETION_TIME 	
    - START_TIME 	
    - END_TIME

# Observations

#### Event Document
- The event code
- X and Y location (this is most likely not latitude and longitude)

#### SegmentID and Speed
- segmentID
- Speed

#### SegmentId and coordinates
- SegmentID
- Latitude and Longitude coordinates

# My take on it

It's unclear if Latitude and Longitude can be connected to the X,Y from the event document which is required to link SegmentID, Speed and Events.

<br>

Therefore
- Further investigation has to be done into the coordinates of the Event & key_segments documents